# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = foreignScrape.settings

[deploy]
url = http://localhost/PoliScrape/git/PoliScrape/publicWww/scrapyd.html
username = scrapy
password = secret
project = poliScrapy
