.navbar-inverse { 
	background-color: #b00b00;
	border-color: #b00b00;
}

a.navbar-brand { 
      color: #fff !important;
}

.navbar-nav li a { 
      color: #eee !important;
}

.thumbnail { 
/*	   height: 300px; */
}

.jumbotron { 
/*	   background-color: rgba(251, 241, 173, 0.7 );  #fbf1ad; */
	   background-color: #eee;
	   margin-top: 2em;
}
input[type=text] {
    width: 75%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}